openapi: 3.1.0
info:
  title: Aelu API
  version: 1.0.0
  description: >
    REST API for the Aelu learning system. Supports adaptive drill sessions
    (via WebSocket), spaced-repetition progress tracking, graded reading, media
    exposure, extensive listening, vocabulary encounter logging, xAPI/Caliper
    learning-record export, Common Cartridge export, GDPR data portability and
    erasure, JWT-based mobile auth, offline sync, Stripe payments, and push
    notifications.

servers:
  - url: https://aelu.app

security:
  - cookieAuth: []
  - bearerAuth: []

tags:
  - name: Health
    description: Liveness, readiness, and full health probes
  - name: Auth
    description: Cookie-based authentication (login, register, logout, password reset, MFA, email verification)
  - name: Token
    description: JWT access/refresh token lifecycle for mobile clients
  - name: Session
    description: Learner status, session history, forecast, diagnostics, and session explainability
  - name: Mastery
    description: Per-item mastery gate criteria
  - name: Export
    description: CSV and Common Cartridge data exports
  - name: Reading
    description: Graded reading passages and vocabulary lookup
  - name: Media
    description: Media shelf -- recommendations, watch history, comprehension quizzes
  - name: Listening
    description: Extensive listening passages
  - name: Encounters
    description: Vocabulary encounter summary (cleanup loop)
  - name: Settings
    description: User preference toggles (anonymous mode, marketing opt-out)
  - name: Push
    description: Push notification token registration
  - name: Personalization
    description: Learner interest domains and personalization state
  - name: Onboarding
    description: Onboarding milestone tracking
  - name: GDPR
    description: GDPR Article 17 (erasure) and Article 20 (portability)
  - name: Sync
    description: Offline queue push/pull for mobile clients
  - name: Payment
    description: Stripe checkout, billing portal, webhooks, subscription status
  - name: xAPI
    description: xAPI statement export
  - name: Caliper
    description: IMS Caliper 1.2 event export
  - name: WebSocket
    description: Real-time drill and mini-session channels
  - name: Admin
    description: Admin dashboard metrics, user management, quality, and risk (requires admin + MFA)
  - name: TTS
    description: Text-to-speech audio generation and voice preferences
  - name: Grammar
    description: Grammar points, lessons, practice, and mastery tracking
  - name: Classroom
    description: Teacher classroom management, student tracking, assignments
  - name: Conversation
    description: Conversation drill scenarios and responses
  - name: Content
    description: Content gap analysis and reading generation
  - name: MFA
    description: TOTP multi-factor authentication setup and management
  - name: Streak
    description: Streak freeze management
  - name: Dictionary
    description: Dictionary lookup and history
  - name: Tutor
    description: Tutor session corrections, flags, and stats
  - name: Marketing
    description: Referrals, discounts, NPS, and feedback
  - name: Telemetry
    description: Client-side error reports and analytics events

paths:
  # ── Health ──────────────────────────────────────────────────────────

  /api/health:
    get:
      tags: [Health]
      summary: Full health check (DB, schema, content stats)
      operationId: health
      security: []
      responses:
        "200":
          description: System healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthFull"
        "503":
          description: System unhealthy (missing tables, DB error)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/health/live:
    get:
      tags: [Health]
      summary: Liveness probe (process alive, no dependency check)
      operationId: healthLive
      security: []
      responses:
        "200":
          description: Process alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  uptime_seconds:
                    type: integer

  /api/health/ready:
    get:
      tags: [Health]
      summary: Readiness probe (DB writable, schema current)
      operationId: healthReady
      security: []
      responses:
        "200":
          description: Ready to serve traffic
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  latency_ms:
                    type: number
        "503":
          description: Not ready (schema migration pending or DB error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: not_ready
                  reason:
                    type: string
                  latency_ms:
                    type: number

  # ── Auth (cookie-based) ─────────────────────────────────────────────

  /auth/login:
    post:
      tags: [Auth]
      summary: Log in with email and password
      operationId: login
      security: []
      description: >
        Form-based login. On success sets a session cookie and redirects.
        If MFA is enabled, redirects to /auth/mfa-verify instead.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "302":
          description: Redirect to dashboard (or MFA challenge)
          headers:
            Set-Cookie:
              schema:
                type: string
        "200":
          description: Login form re-rendered with error flash

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new account
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [email, password, confirm]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirm:
                  type: string
                  format: password
                display_name:
                  type: string
                invite_code:
                  type: string
                  description: Required in production
      responses:
        "302":
          description: Redirect to dashboard on success
        "200":
          description: Registration form re-rendered with error flash

  /auth/logout:
    post:
      tags: [Auth]
      summary: Log out and clear session
      operationId: logout
      responses:
        "302":
          description: Redirect to login page

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request a password reset email
      operationId: forgotPassword
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Always returns success to prevent email enumeration

  /auth/reset-password/{token}:
    post:
      tags: [Auth]
      summary: Reset password using a token
      operationId: resetPassword
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [password, confirm]
              properties:
                password:
                  type: string
                  format: password
                confirm:
                  type: string
                  format: password
      responses:
        "302":
          description: Redirect to login on success
        "200":
          description: Form re-rendered with error flash

  /auth/verify-email:
    get:
      tags: [Auth]
      summary: Verify email address via token link
      operationId: verifyEmail
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirect to login with flash message

  /auth/unsubscribe:
    get:
      tags: [Auth]
      summary: One-click marketing email unsubscribe (HMAC-signed)
      operationId: unsubscribe
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: uid
          in: query
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirect to login with confirmation flash

  # ── Token (JWT) ─────────────────────────────────────────────────────

  /api/auth/token:
    post:
      tags: [Token]
      summary: Exchange credentials for JWT access + refresh tokens
      operationId: obtainToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: Tokens issued (or MFA required)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TokenResponse"
                  - $ref: "#/components/schemas/MfaRequired"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/auth/token/refresh:
    post:
      tags: [Token]
      summary: Exchange refresh token for a new access token
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: New access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_in:
                    type: integer
                    description: Seconds until expiry
        "401":
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/auth/token/mfa:
    post:
      tags: [Token]
      summary: Complete MFA challenge for JWT flow
      operationId: mfaToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mfa_token, code]
              properties:
                mfa_token:
                  type: string
                  description: Short-lived MFA token from /api/auth/token
                code:
                  type: string
                  description: TOTP code or backup code
      responses:
        "200":
          description: Tokens issued after MFA verification
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          description: Invalid MFA code or expired MFA token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/auth/token/revoke:
    post:
      tags: [Token]
      summary: Revoke refresh token (logout for mobile)
      operationId: revokeToken
      responses:
        "200":
          description: Token revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Session / Progress / Diagnostics ────────────────────────────────

  /api/status:
    get:
      tags: [Session]
      summary: Current learner status
      operationId: getStatus
      responses:
        "200":
          description: Learner status with item counts, mastery by HSK, days since last session
          content:
            application/json:
              schema:
                type: object
                properties:
                  item_count:
                    type: integer
                  total_sessions:
                    type: integer
                  days_since_last:
                    type: integer
                    nullable: true
                  items_due:
                    type: integer
                  mastery:
                    type: object
                    additionalProperties:
                      type: object
                      description: Per-HSK-level mastery breakdown

  /api/forecast:
    get:
      tags: [Session]
      summary: Pace, milestones, and HSK projections
      operationId: getForecast
      responses:
        "200":
          description: Forecast data
          content:
            application/json:
              schema:
                type: object

  /api/progress:
    get:
      tags: [Session]
      summary: Retention stats and mastery by HSK level
      operationId: getProgress
      responses:
        "200":
          description: Progress data
          content:
            application/json:
              schema:
                type: object
                properties:
                  mastery:
                    type: object
                    additionalProperties:
                      type: object
                  retention:
                    type: object

  /api/diagnostics:
    get:
      tags: [Session]
      summary: Quick diagnostic assessment
      operationId: getDiagnostics
      responses:
        "200":
          description: Diagnostics result
          content:
            application/json:
              schema:
                type: object

  /api/sessions:
    get:
      tags: [Session]
      summary: Last 20 sessions with 14-day study streak data
      operationId: getSessions
      responses:
        "200":
          description: Session list and streak data
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: "#/components/schemas/SessionSummary"
                  study_streak_data:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        sessions:
                          type: integer

  /api/session/explain:
    get:
      tags: [Session]
      summary: Explain how the next session would be planned
      operationId: explainSession
      responses:
        "200":
          description: Session planning rationale
          content:
            application/json:
              schema:
                type: object
                properties:
                  day_profile:
                    type: object
                  gap_days:
                    type: integer
                    nullable: true
                  is_long_gap:
                    type: boolean
                  base_session_length:
                    type: integer
                  adaptive_session_length:
                    type: number
                  final_session_length:
                    type: integer
                  modality_weights:
                    type: object
                  new_item_budget:
                    type: integer
                  time_of_day_penalty:
                    type: number
                  bounce_levels:
                    type: array
                    items:
                      type: integer
                  interleave_weight:
                    type: number
                  focus_areas:
                    type: array
                    items:
                      type: string

  # ── Mastery ─────────────────────────────────────────────────────────

  /api/mastery/{item_id}/criteria:
    get:
      tags: [Mastery]
      summary: 4-gate mastery criteria for a content item
      operationId: getMasteryCriteria
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Gate breakdown
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MasteryCriteria"
        "404":
          description: No progress data for this item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Export ──────────────────────────────────────────────────────────

  /api/export/progress:
    get:
      tags: [Export]
      summary: Download progress data as CSV
      operationId: exportProgress
      responses:
        "200":
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
          headers:
            Content-Disposition:
              schema:
                type: string

  /api/export/sessions:
    get:
      tags: [Export]
      summary: Download session history as CSV
      operationId: exportSessions
      responses:
        "200":
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string

  /api/export/errors:
    get:
      tags: [Export]
      summary: Download error log as CSV
      operationId: exportErrors
      responses:
        "200":
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string

  /api/export/common-cartridge:
    get:
      tags: [Export]
      summary: Export vocabulary as IMS Common Cartridge ZIP
      operationId: exportCommonCartridge
      parameters:
        - name: level
          in: query
          schema:
            type: integer
            default: 1
          description: HSK level to export
      responses:
        "200":
          description: Common Cartridge ZIP file
          content:
            application/zip:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string

  # ── Reading ─────────────────────────────────────────────────────────

  /api/reading/passages:
    get:
      tags: [Reading]
      summary: List graded reading passages
      operationId: getReadingPassages
      parameters:
        - name: hsk_level
          in: query
          schema:
            type: integer
          description: Filter by HSK level
      responses:
        "200":
          description: Passage list
          content:
            application/json:
              schema:
                type: object
                properties:
                  passages:
                    type: array
                    items:
                      $ref: "#/components/schemas/PassageSummary"
        "403":
          description: Feature requires tier upgrade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpgradeRequired"

  /api/reading/passage/{id}:
    get:
      tags: [Reading]
      summary: Get a single passage with full text and glosses
      operationId: getReadingPassage
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Full passage content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Passage"
        "404":
          description: Passage not found

  /api/reading/lookup:
    post:
      tags: [Reading]
      summary: Look up a word during reading (logs vocab encounter)
      operationId: readingLookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hanzi]
              properties:
                hanzi:
                  type: string
                  description: Chinese character(s) to look up
                passage_id:
                  type: string
                  description: Source passage ID
      responses:
        "200":
          description: Lookup result
          content:
            application/json:
              schema:
                type: object
                properties:
                  hanzi:
                    type: string
                  pinyin:
                    type: string
                  english:
                    type: string
                  found:
                    type: boolean
                    description: Whether the word exists in the content database
        "400":
          description: Missing hanzi parameter

  # ── Media ───────────────────────────────────────────────────────────

  /api/media/recommendations:
    get:
      tags: [Media]
      summary: Get media recommendations for current level
      operationId: getMediaRecommendations
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 6
      responses:
        "200":
          description: Recommendations list
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendations:
                    type: array
                    items:
                      $ref: "#/components/schemas/MediaRecommendation"
        "403":
          description: Feature requires tier upgrade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpgradeRequired"

  /api/media/history:
    get:
      tags: [Media]
      summary: Get watch history and stats
      operationId: getMediaHistory
      responses:
        "200":
          description: Watch history and aggregated stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  history:
                    type: array
                    items:
                      type: object
                  stats:
                    type: object

  /api/media/watched:
    post:
      tags: [Media]
      summary: Record a media entry as watched
      operationId: markMediaWatched
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [media_id]
              properties:
                media_id:
                  type: string
                score:
                  type: number
                  default: 0.0
      responses:
        "200":
          description: Recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"
        "400":
          description: Missing media_id

  /api/media/skip:
    post:
      tags: [Media]
      summary: Record a media skip
      operationId: skipMedia
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [media_id]
              properties:
                media_id:
                  type: string
      responses:
        "200":
          description: Skip recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"
        "400":
          description: Missing media_id

  /api/media/liked:
    post:
      tags: [Media]
      summary: Record media liked/disliked preference
      operationId: likeMedia
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [media_id]
              properties:
                media_id:
                  type: string
                liked:
                  type: boolean
      responses:
        "200":
          description: Preference recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"
        "400":
          description: Missing media_id

  /api/media/comprehension/{media_id}:
    get:
      tags: [Media]
      summary: Get comprehension quiz for a media entry
      operationId: getMediaComprehension
      parameters:
        - name: media_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Media entry with quiz questions
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  title_zh:
                    type: string
                  hsk_level:
                    type: integer
                  vocab_preview:
                    type: array
                    items:
                      type: object
                  questions:
                    type: array
                    items:
                      type: object
                  cultural_note:
                    type: string
                  follow_up:
                    type: string
        "404":
          description: Media entry not found

  /api/media/comprehension/submit:
    post:
      tags: [Media]
      summary: Submit comprehension quiz results
      operationId: submitMediaComprehension
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [media_id]
              properties:
                media_id:
                  type: string
                score:
                  type: number
                total:
                  type: integer
                correct:
                  type: integer
      responses:
        "200":
          description: Quiz result recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  score:
                    type: number
        "400":
          description: Missing media_id

  # ── Listening ───────────────────────────────────────────────────────

  /api/listening/passage:
    get:
      tags: [Listening]
      summary: Get a random passage for listening practice (browser TTS)
      operationId: getListeningPassage
      parameters:
        - name: hsk_level
          in: query
          schema:
            type: integer
          description: Filter by HSK level
      responses:
        "200":
          description: Listening passage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListeningPassage"
        "403":
          description: Feature requires tier upgrade
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpgradeRequired"
        "404":
          description: No passages at this level

  /api/listening/complete:
    post:
      tags: [Listening]
      summary: Record listening completion and log word encounters
      operationId: completeListening
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                passage_id:
                  type: string
                words_looked_up:
                  type: array
                  items:
                    type: string
                  description: Hanzi strings that were looked up during listening
      responses:
        "200":
          description: Completion recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  encounters_logged:
                    type: integer

  # ── Encounters ──────────────────────────────────────────────────────

  /api/encounters/summary:
    get:
      tags: [Encounters]
      summary: Vocab encounter summary for dashboard (last 7 days)
      operationId: getEncountersSummary
      responses:
        "200":
          description: Encounter stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_lookups_7d:
                    type: integer
                  top_words:
                    type: array
                    items:
                      type: object
                      properties:
                        hanzi:
                          type: string
                        count:
                          type: integer
                  sources:
                    type: object
                    additionalProperties:
                      type: integer
                    description: Lookup counts keyed by source_type (reading, listening, etc.)

  # ── Settings ────────────────────────────────────────────────────────

  /api/settings/anonymous-mode:
    get:
      tags: [Settings]
      summary: Get anonymous learning mode setting
      operationId: getAnonymousMode
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  anonymous_mode:
                    type: boolean
    post:
      tags: [Settings]
      summary: Toggle anonymous learning mode
      operationId: setAnonymousMode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  anonymous_mode:
                    type: boolean
        "403":
          description: Feature not available for this user

  /api/settings/marketing-opt-out:
    get:
      tags: [Settings]
      summary: Get marketing email opt-out setting
      operationId: getMarketingOptOut
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  marketing_opt_out:
                    type: boolean
    post:
      tags: [Settings]
      summary: Toggle marketing email opt-out
      operationId: setMarketingOptOut
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                opted_out:
                  type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  marketing_opt_out:
                    type: boolean

  # ── Push Notifications ──────────────────────────────────────────────

  /api/push/register:
    post:
      tags: [Push]
      summary: Register a push notification token
      operationId: registerPush
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platform, token]
              properties:
                platform:
                  type: string
                  enum: [ios, android]
                token:
                  type: string
                  description: Device push token
      responses:
        "200":
          description: Token registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"
        "400":
          description: Missing or invalid platform/token

  /api/push/unregister:
    post:
      tags: [Push]
      summary: Remove push notification token on logout
      operationId: unregisterPush
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  enum: [ios, android]
                  description: If omitted, removes all tokens for the user
      responses:
        "200":
          description: Token removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  # ── Personalization ────────────────────────────────────────────────

  /api/personalization:
    get:
      tags: [Personalization]
      summary: Get interest domains and current preference
      operationId: getPersonalization
      responses:
        "200":
          description: Personalization state
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferred_domains:
                    type: string
                    description: Comma-separated domain keys
                  domains:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        label:
                          type: string
                        description:
                          type: string
                        active:
                          type: boolean
                        available:
                          type: boolean
                        sentence_count:
                          type: integer

  # ── Onboarding ──────────────────────────────────────────────────────

  /api/onboarding/status:
    get:
      tags: [Onboarding]
      summary: Get onboarding milestone completion status
      operationId: getOnboardingStatus
      responses:
        "200":
          description: Milestone flags
          content:
            application/json:
              schema:
                type: object
                properties:
                  first_session:
                    type: boolean
                  first_week:
                    type: boolean
                  first_reading:
                    type: boolean
                  drill_variety:
                    type: boolean
                  first_streak:
                    type: boolean
                  all_complete:
                    type: boolean

  # ── xAPI ────────────────────────────────────────────────────────────

  /api/xapi/statements:
    get:
      tags: [xAPI]
      summary: Retrieve xAPI statements for the authenticated user
      operationId: getXapiStatements
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date-time
          description: Only return statements after this timestamp
        - name: until
          in: query
          schema:
            type: string
            format: date-time
          description: Only return statements before this timestamp
      responses:
        "200":
          description: xAPI statements
          content:
            application/json:
              schema:
                type: object
                properties:
                  statements:
                    type: array
                    items:
                      type: object
                      description: xAPI statement per spec

  # ── Caliper ─────────────────────────────────────────────────────────

  /api/caliper/events:
    get:
      tags: [Caliper]
      summary: Retrieve IMS Caliper 1.2 events for the authenticated user
      operationId: getCaliperEvents
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date-time
          description: Only return events after this timestamp
      responses:
        "200":
          description: Caliper events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      description: Caliper event envelope

  # ── GDPR ────────────────────────────────────────────────────────────

  /api/account/export:
    get:
      tags: [GDPR]
      summary: Export all personal data (GDPR Article 20 portability)
      operationId: exportAccountData
      responses:
        "200":
          description: JSON archive of all user data
          content:
            application/json:
              schema:
                type: object
                properties:
                  exported_at:
                    type: string
                    format: date-time
                  user_id:
                    type: integer
                  user:
                    type: object
                    nullable: true
                  learner_profile:
                    type: object
                    nullable: true
                  progress:
                    type: array
                    items:
                      type: object
                  sessions:
                    type: array
                    items:
                      type: object
                  errors:
                    type: array
                    items:
                      type: object
                  vocab_encounters:
                    type: array
                    items:
                      type: object
                  push_tokens:
                    type: array
                    items:
                      type: object
                  security_events:
                    type: array
                    items:
                      type: object
          headers:
            Content-Disposition:
              schema:
                type: string

  /api/account/delete:
    post:
      tags: [GDPR]
      summary: Delete account and all personal data (GDPR Article 17 erasure)
      operationId: deleteAccount
      description: >
        Immediately anonymizes the account and deletes all personal data
        from user-scoped tables. Security audit logs are retained per
        Art. 17(3)(e) legitimate interest.
      responses:
        "200":
          description: Account deleted and anonymized
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  message:
                    type: string

  # ── Sync ────────────────────────────────────────────────────────────

  /api/sync/push:
    post:
      tags: [Sync]
      summary: Push batched offline actions to the server
      operationId: syncPush
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [actions]
              properties:
                actions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [drill_result, vocab_encounter, media_watched]
                      data:
                        type: object
                      timestamp:
                        type: string
                        format: date-time
      responses:
        "200":
          description: Sync result
          content:
            application/json:
              schema:
                type: object
                properties:
                  processed:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                        error:
                          type: string
                  total:
                    type: integer

  /api/sync/pull:
    get:
      tags: [Sync]
      summary: Pull new progress and sessions since a timestamp
      operationId: syncPull
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date-time
            default: "1970-01-01T00:00:00"
          description: Return data updated after this timestamp
      responses:
        "200":
          description: Updated data
          content:
            application/json:
              schema:
                type: object
                properties:
                  progress:
                    type: array
                    items:
                      type: object
                  sessions:
                    type: array
                    items:
                      type: object
                  since:
                    type: string

  /api/sync/state:
    get:
      tags: [Sync]
      summary: Get state hash for quick client-side comparison
      operationId: syncState
      responses:
        "200":
          description: State fingerprint
          content:
            application/json:
              schema:
                type: object
                properties:
                  hash:
                    type: string
                    description: SHA-256 prefix of user state
                  last_updated:
                    type: string
                  item_count:
                    type: integer

  # ── Payment ─────────────────────────────────────────────────────────

  /api/checkout:
    post:
      tags: [Payment]
      summary: Create a Stripe Checkout session
      operationId: createCheckout
      responses:
        "200":
          description: Checkout URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri

  /api/billing-portal:
    post:
      tags: [Payment]
      summary: Create a Stripe Billing Portal session
      operationId: createBillingPortal
      responses:
        "200":
          description: Portal URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
        "400":
          description: No active subscription found

  /api/webhook/stripe:
    post:
      tags: [Payment]
      summary: Stripe webhook endpoint (signature-verified)
      operationId: stripeWebhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Webhook received
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
        "400":
          description: Invalid signature

  /api/subscription/status:
    get:
      tags: [Payment]
      summary: Get current subscription tier and status
      operationId: getSubscriptionStatus
      responses:
        "200":
          description: Subscription details
          content:
            application/json:
              schema:
                type: object
                properties:
                  tier:
                    type: string
                    example: free
                  status:
                    type: string
                    example: active
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  has_stripe:
                    type: boolean

  # ── WebSocket ───────────────────────────────────────────────────────

  /ws/session:
    get:
      tags: [WebSocket]
      summary: WebSocket for full drill sessions
      operationId: wsSession
      description: >
        Upgrade to WebSocket. Requires session cookie auth. Server sends drill
        items as JSON frames; client responds with {"type": "answer", "value": "..."}
        messages. Supports resume via resume_token protocol. Query param ?mic=0
        disables microphone prompts.
      parameters:
        - name: mic
          in: query
          schema:
            type: string
            enum: ["0", "1"]
            default: "1"
          description: Set to 0 to disable microphone recording prompts
      responses:
        "101":
          description: Switching Protocols (WebSocket upgrade)

  /ws/mini:
    get:
      tags: [WebSocket]
      summary: WebSocket for mini (quick review) sessions
      operationId: wsMini
      description: >
        Same protocol as /ws/session but plans a shorter session using
        the minimal planner.
      parameters:
        - name: mic
          in: query
          schema:
            type: string
            enum: ["0", "1"]
            default: "1"
      responses:
        "101":
          description: Switching Protocols (WebSocket upgrade)

  # ── Telemetry ─────────────────────────────────────────────────────

  /api/error-report:
    post:
      tags: [Telemetry]
      summary: Accept a client-side error report (JS errors, user reports)
      operationId: errorReport
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                error_type:
                  type: string
                message:
                  type: string
                source:
                  type: string
                line:
                  type: integer
                col:
                  type: integer
                stack:
                  type: string
                page_url:
                  type: string
                snapshot:
                  type: object
      responses:
        "204":
          description: Report accepted

  /api/client-events:
    post:
      tags: [Telemetry]
      summary: Accept batched client-side analytics events
      operationId: clientEvents
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                install_id:
                  type: string
                events:
                  type: array
                  items:
                    type: object
                    properties:
                      cat:
                        type: string
                      evt:
                        type: string
                      id:
                        type: string
                        description: Unique event ID for dedup
                      d:
                        type: object
                        description: Event detail payload
      responses:
        "204":
          description: Events accepted
        "429":
          description: Rate limit exceeded for this install

  /api/stats/public:
    get:
      tags: [Health]
      summary: Public learner count (rounded to nearest 10)
      operationId: statsPublic
      security: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  learner_count:
                    type: integer

  /api/sw-status:
    get:
      tags: [Health]
      summary: Service worker kill-switch status
      operationId: swStatus
      security: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  active:
                    type: boolean
                  build_id:
                    type: string

  # ── TTS / Audio ──────────────────────────────────────────────────

  /api/tts:
    get:
      tags: [TTS]
      summary: Generate TTS audio and return file directly
      operationId: ttsGet
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
        - name: rate
          in: query
          schema:
            type: integer
        - name: voice
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Audio file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid text
        "503":
          description: TTS unavailable
    post:
      tags: [TTS]
      summary: Generate TTS audio and return URL
      operationId: ttsPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                rate:
                  type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
        "400":
          description: Invalid text
        "503":
          description: TTS unavailable

  /api/audio/{filename}:
    get:
      tags: [TTS]
      summary: Serve a generated TTS audio file
      operationId: serveAudio
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Audio file (MP3, WAV, or AIFF)
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        "404":
          description: File not found

  /api/settings/voice:
    get:
      tags: [TTS]
      summary: Get current preferred TTS voice
      operationId: getVoice
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  voice:
                    type: string
    post:
      tags: [TTS]
      summary: Set preferred TTS voice
      operationId: setVoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [voice]
              properties:
                voice:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  voice:
                    type: string
        "400":
          description: Invalid voice name

  # ── Auth (additional) ────────────────────────────────────────────

  /auth/account/change-password:
    post:
      tags: [Auth]
      summary: Change password while logged in
      operationId: changePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [old_password, new_password]
              properties:
                old_password:
                  type: string
                new_password:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  changed:
                    type: boolean
        "400":
          description: Missing fields or invalid password
        "403":
          description: Current password incorrect

  # ── MFA ──────────────────────────────────────────────────────────

  /api/mfa/status:
    get:
      tags: [MFA]
      summary: Get MFA enablement status
      operationId: mfaStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  totp_enabled:
                    type: boolean

  /api/mfa/setup:
    post:
      tags: [MFA]
      summary: Begin TOTP MFA setup (returns secret and QR URI)
      operationId: mfaSetup
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                  provisioning_uri:
                    type: string
                  backup_codes:
                    type: array
                    items:
                      type: string

  /api/mfa/verify-setup:
    post:
      tags: [MFA]
      summary: Verify TOTP code to complete MFA setup
      operationId: mfaVerifySetup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
        "400":
          description: Invalid code

  /api/mfa/disable:
    post:
      tags: [MFA]
      summary: Disable TOTP MFA (requires password verification)
      operationId: mfaDisable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  disabled:
                    type: boolean
        "403":
          description: Invalid password

  # ── Streak ───────────────────────────────────────────────────────

  /api/streak/use-freeze:
    post:
      tags: [Streak]
      summary: Use a streak freeze to preserve streak
      operationId: useStreakFreeze
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  used:
                    type: boolean
                  freezes_remaining:
                    type: integer
        "400":
          description: No freezes available or streak not broken

  # ── Session (additional) ─────────────────────────────────────────

  /api/session-items:
    get:
      tags: [Session]
      summary: List all content items for review
      operationId: getSessionItems
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/session-preview:
    get:
      tags: [Session]
      summary: Preview what the next session would contain
      operationId: getSessionPreview
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/session/checkpoint/{session_id}:
    get:
      tags: [Session]
      summary: Get checkpoint data for a specific session
      operationId: getSessionCheckpoint
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Session not found

  /api/growth:
    get:
      tags: [Session]
      summary: Growth metrics for the authenticated learner
      operationId: getGrowth
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/mark-correct:
    post:
      tags: [Session]
      summary: Mark a drill result as correct (self-report override)
      operationId: markCorrect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/dashboard/retention_curve:
    get:
      tags: [Session]
      summary: Retention curve data for the learner dashboard
      operationId: getRetentionCurve
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  # ── Settings (additional) ────────────────────────────────────────

  /api/settings:
    get:
      tags: [Settings]
      summary: Get all user settings in one call
      operationId: getAllSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/settings/session-length:
    get:
      tags: [Settings]
      summary: Get preferred session length
      operationId: getSessionLength
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
    post:
      tags: [Settings]
      summary: Set preferred session length
      operationId: setSessionLength
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/settings/audio:
    get:
      tags: [Settings]
      summary: Get audio playback preferences
      operationId: getAudioSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
    post:
      tags: [Settings]
      summary: Set audio playback preferences
      operationId: setAudioSettings
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/settings/daily-goal:
    get:
      tags: [Settings]
      summary: Get daily session goal
      operationId: getDailyGoal
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
    post:
      tags: [Settings]
      summary: Set daily session goal
      operationId: setDailyGoal
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/settings/streak-reminders:
    get:
      tags: [Settings]
      summary: Get streak reminder preferences
      operationId: getStreakReminders
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
    post:
      tags: [Settings]
      summary: Set streak reminder preferences
      operationId: setStreakReminders
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/settings/display-prefs:
    get:
      tags: [Settings]
      summary: Get display preferences (pinyin visibility, font size, etc.)
      operationId: getDisplayPrefs
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
    post:
      tags: [Settings]
      summary: Set display preferences
      operationId: setDisplayPrefs
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/settings/methodology:
    get:
      tags: [Settings]
      summary: Get methodology configuration (SRS parameters, drill types)
      operationId: getMethodology
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/push/vapid-key:
    get:
      tags: [Push]
      summary: Get VAPID public key for web push subscription
      operationId: getVapidKey
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  vapid_key:
                    type: string

  # ── Onboarding (additional) ──────────────────────────────────────

  /api/onboarding/wizard:
    get:
      tags: [Onboarding]
      summary: Get onboarding wizard state and steps
      operationId: getOnboardingWizard
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/onboarding/level:
    post:
      tags: [Onboarding]
      summary: Set initial HSK level during onboarding
      operationId: setOnboardingLevel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                level:
                  type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/onboarding/goal:
    post:
      tags: [Onboarding]
      summary: Set learning goal during onboarding
      operationId: setOnboardingGoal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                goal:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/onboarding/complete:
    post:
      tags: [Onboarding]
      summary: Mark onboarding as complete
      operationId: completeOnboarding
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/onboarding/placement/start:
    get:
      tags: [Onboarding]
      summary: Start placement test during onboarding
      operationId: startPlacement
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/onboarding/placement/submit:
    post:
      tags: [Onboarding]
      summary: Submit placement test answers
      operationId: submitPlacement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  # ── Grammar ──────────────────────────────────────────────────────

  /api/grammar/levels:
    get:
      tags: [Grammar]
      summary: List available grammar levels
      operationId: getGrammarLevels
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/grammar/points:
    get:
      tags: [Grammar]
      summary: List all grammar points with mastery status
      operationId: getGrammarPoints
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/grammar/point/{point_id}:
    get:
      tags: [Grammar]
      summary: Get detail for a single grammar point
      operationId: getGrammarPoint
      parameters:
        - name: point_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Grammar point not found

  /api/grammar/lesson/{hsk_level}:
    get:
      tags: [Grammar]
      summary: Get grammar lesson for an HSK level
      operationId: getGrammarLesson
      parameters:
        - name: hsk_level
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/grammar/progress:
    post:
      tags: [Grammar]
      summary: Record grammar practice progress
      operationId: recordGrammarProgress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/grammar/practice:
    post:
      tags: [Grammar]
      summary: Generate grammar practice drills
      operationId: grammarPractice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/grammar/mastery:
    get:
      tags: [Grammar]
      summary: Get grammar mastery summary across all points
      operationId: getGrammarMastery
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/grammar/errors:
    get:
      tags: [Grammar]
      summary: Get grammar error patterns for the learner
      operationId: getGrammarErrors
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/grammar/explanation/{grammar_point_id}:
    get:
      tags: [Grammar]
      summary: Get a detailed explanation for a grammar point
      operationId: getGrammarExplanation
      parameters:
        - name: grammar_point_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/grammar/ask:
    post:
      tags: [Grammar]
      summary: Ask a grammar question (deterministic lookup)
      operationId: askGrammar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/grammar/point/{point_id}/teach:
    get:
      tags: [Grammar]
      summary: Get teaching content for a grammar point
      operationId: teachGrammarPoint
      parameters:
        - name: point_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/grammar/explain-mistake:
    post:
      tags: [Grammar]
      summary: Explain a grammar mistake from a drill result
      operationId: explainGrammarMistake
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  # ── Conversation ─────────────────────────────────────────────────

  /api/conversation/scenarios:
    get:
      tags: [Conversation]
      summary: List available conversation scenarios
      operationId: getConversationScenarios
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  scenarios:
                    type: array
                    items:
                      type: object

  /api/conversation/start:
    post:
      tags: [Conversation]
      summary: Start a conversation drill session
      operationId: startConversation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scenario_id:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/conversation/respond:
    post:
      tags: [Conversation]
      summary: Send a response in a conversation drill
      operationId: conversationRespond
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id:
                  type: string
                response:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/conversation/continue:
    post:
      tags: [Conversation]
      summary: Continue to the next turn in a conversation drill
      operationId: conversationContinue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/conversation/transcribe:
    post:
      tags: [Conversation]
      summary: Transcribe audio for conversation drill
      operationId: conversationTranscribe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  # ── Content ──────────────────────────────────────────────────────

  /api/content/gaps:
    get:
      tags: [Content]
      summary: Get content gap analysis (system-wide)
      operationId: getContentGaps
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/content/gaps/user:
    get:
      tags: [Content]
      summary: Get content gaps for the authenticated user
      operationId: getUserContentGaps
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/content/analyze:
    post:
      tags: [Content]
      summary: Analyze user-submitted Chinese text for vocabulary and HSK level
      operationId: analyzeContent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  description: Chinese text to analyze
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/content/import:
    post:
      tags: [Content]
      summary: Import user-submitted text as study material
      operationId: importContent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/reading/generate:
    post:
      tags: [Content]
      summary: Generate a reading passage at a given level
      operationId: generateReading
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/reading/comprehension:
    post:
      tags: [Content]
      summary: Submit reading comprehension answers
      operationId: submitReadingComprehension
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  # ── Dictionary ───────────────────────────────────────────────────

  /api/dictionary/lookup:
    get:
      tags: [Dictionary]
      summary: Look up a Chinese word in the dictionary
      operationId: dictionaryLookup
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Chinese characters or pinyin to look up
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/dictionary/history:
    get:
      tags: [Dictionary]
      summary: Get dictionary lookup history for the user
      operationId: dictionaryHistory
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  # ── Exposure (additional) ────────────────────────────────────────

  /api/reading/complete:
    post:
      tags: [Reading]
      summary: Mark a reading passage as complete
      operationId: completeReading
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                passage_id:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/reading/progress:
    post:
      tags: [Reading]
      summary: Record reading progress (scroll position, time spent)
      operationId: recordReadingProgress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/reading/stats:
    get:
      tags: [Reading]
      summary: Get reading statistics for the user
      operationId: getReadingStats
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/reading/daily:
    get:
      tags: [Reading]
      summary: Get daily reading recommendation
      operationId: getDailyReading
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/reading/comments:
    get:
      tags: [Reading]
      summary: Get community reading comments
      operationId: getReadingComments
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/reading/comment:
    post:
      tags: [Reading]
      summary: Post a comment on a reading passage
      operationId: postReadingComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/media/stats:
    get:
      tags: [Media]
      summary: Get media consumption stats
      operationId: getMediaStats
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/listening/stats:
    get:
      tags: [Listening]
      summary: Get listening practice statistics
      operationId: getListeningStats
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/exposure/recommended:
    get:
      tags: [Reading]
      summary: Get recommended exposure content across all types
      operationId: getRecommendedExposure
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/community/study-buddies:
    get:
      tags: [Reading]
      summary: Get study buddy recommendations based on level
      operationId: getStudyBuddies
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  # ── Payment (additional) ─────────────────────────────────────────

  /api/checkout/classroom:
    post:
      tags: [Payment]
      summary: Create a Stripe Checkout for classroom pricing
      operationId: createClassroomCheckout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                student_count:
                  type: integer
                billing:
                  type: string
                  enum: [per_student, semester]
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
        "400":
          description: Invalid billing type or student count

  # ── Marketing ────────────────────────────────────────────────────

  /api/feedback:
    post:
      tags: [Marketing]
      summary: Submit user feedback (rating and comment)
      operationId: submitFeedback
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  type: integer
                comment:
                  type: string
                feedback_type:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/referral/track:
    get:
      tags: [Marketing]
      summary: Track a referral click (partner attribution)
      operationId: trackReferral
      security: []
      parameters:
        - name: code
          in: query
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/referral/signup:
    post:
      tags: [Marketing]
      summary: Register a referral signup
      operationId: referralSignup
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/referral/link:
    get:
      tags: [Marketing]
      summary: Get the user's referral link
      operationId: getReferralLink
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/referral/stats:
    get:
      tags: [Marketing]
      summary: Get referral statistics for the user
      operationId: getReferralStats
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/account/referral:
    get:
      tags: [Marketing]
      summary: Get referral account info
      operationId: getAccountReferral
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/discount/validate:
    get:
      tags: [Marketing]
      summary: Validate a discount code
      operationId: validateDiscount
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/discount/apply:
    post:
      tags: [Marketing]
      summary: Apply a discount code to checkout
      operationId: applyDiscount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/subscription/cancel:
    post:
      tags: [Payment]
      summary: Cancel subscription
      operationId: cancelSubscription
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/subscription/pause:
    post:
      tags: [Payment]
      summary: Pause subscription
      operationId: pauseSubscription
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/subscription/resume:
    post:
      tags: [Payment]
      summary: Resume a paused subscription
      operationId: resumeSubscription
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/nps/check:
    get:
      tags: [Marketing]
      summary: Check if user should be prompted for NPS survey
      operationId: npsCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/nps/prompted:
    post:
      tags: [Marketing]
      summary: Record NPS survey response
      operationId: npsPrompted
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/nps/interview-opt-in:
    post:
      tags: [Marketing]
      summary: Opt in for a user interview
      operationId: npsInterviewOptIn
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/experiment/landing-variant:
    get:
      tags: [Marketing]
      summary: Get A/B test variant for the landing page
      operationId: getLandingVariant
      security: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  # ── Classroom ────────────────────────────────────────────────────

  /api/classroom/create:
    post:
      tags: [Classroom]
      summary: Create a new classroom
      operationId: createClassroom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Missing name

  /api/classroom/list:
    get:
      tags: [Classroom]
      summary: List classrooms (teacher's or student's)
      operationId: listClassrooms
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/join:
    post:
      tags: [Classroom]
      summary: Join a classroom with an invite code
      operationId: joinClassroom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invite_code]
              properties:
                invite_code:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Invalid invite code

  /api/classroom/{classroom_id}/students:
    get:
      tags: [Classroom]
      summary: List students in a classroom
      operationId: getClassroomStudents
      parameters:
        - name: classroom_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/{classroom_id}/student/{student_id}:
    get:
      tags: [Classroom]
      summary: Get detailed data for a specific student
      operationId: getClassroomStudent
      parameters:
        - name: classroom_id
          in: path
          required: true
          schema:
            type: integer
        - name: student_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Student not found

  /api/classroom/{classroom_id}/analytics:
    get:
      tags: [Classroom]
      summary: Classroom-level analytics (engagement, accuracy, progress)
      operationId: getClassroomAnalytics
      parameters:
        - name: classroom_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/{classroom_id}/invite/bulk:
    post:
      tags: [Classroom]
      summary: Send bulk invite emails to students
      operationId: bulkInviteClassroom
      parameters:
        - name: classroom_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emails:
                  type: array
                  items:
                    type: string
                    format: email
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/notifications:
    get:
      tags: [Classroom]
      summary: Get teacher notifications
      operationId: getClassroomNotifications
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/notifications/count:
    get:
      tags: [Classroom]
      summary: Get unread notification count
      operationId: getClassroomNotificationCount
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/{classroom_id}/archive:
    post:
      tags: [Classroom]
      summary: Archive a classroom
      operationId: archiveClassroom
      parameters:
        - name: classroom_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusOk"

  /api/classroom/assignment:
    post:
      tags: [Classroom]
      summary: Create an assignment for a classroom
      operationId: createAssignment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/{classroom_id}/assignments:
    get:
      tags: [Classroom]
      summary: List assignments for a classroom
      operationId: getAssignments
      parameters:
        - name: classroom_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/export:
    get:
      tags: [Classroom]
      summary: Export classroom data (CSV or JSON)
      operationId: exportClassroom
      responses:
        "200":
          description: Classroom export data

  /api/classroom/leaderboard:
    get:
      tags: [Classroom]
      summary: Get classroom leaderboard
      operationId: getLeaderboard
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/{classroom_id}/intelligence:
    get:
      tags: [Classroom]
      summary: Get classroom intelligence summary
      operationId: getClassroomIntelligence
      parameters:
        - name: classroom_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/{classroom_id}/students/risk:
    get:
      tags: [Classroom]
      summary: Get at-risk students in a classroom
      operationId: getStudentsAtRisk
      parameters:
        - name: classroom_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/{classroom_id}/student/{student_id}/engagement:
    get:
      tags: [Classroom]
      summary: Get detailed engagement data for a student
      operationId: getStudentEngagement
      parameters:
        - name: classroom_id
          in: path
          required: true
          schema:
            type: integer
        - name: student_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/intervention:
    post:
      tags: [Classroom]
      summary: Record a teacher intervention for a student
      operationId: createIntervention
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/interventions:
    get:
      tags: [Classroom]
      summary: Get intervention history
      operationId: getInterventions
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/classroom/snapshots/generate:
    post:
      tags: [Classroom]
      summary: Generate learning snapshots for classroom students
      operationId: generateSnapshots
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  # ── Tutor ────────────────────────────────────────────────────────

  /api/tutor/sessions:
    get:
      tags: [Tutor]
      summary: List tutoring sessions
      operationId: getTutorSessions
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
    post:
      tags: [Tutor]
      summary: Create a new tutoring session
      operationId: createTutorSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                type: object

  /api/tutor/sessions/{session_id}/corrections:
    post:
      tags: [Tutor]
      summary: Submit corrections for a tutoring session
      operationId: submitTutorCorrections
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/tutor/sessions/{session_id}/flags:
    post:
      tags: [Tutor]
      summary: Flag items in a tutoring session for review
      operationId: flagTutorItems
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/tutor/sessions/{session_id}/process:
    post:
      tags: [Tutor]
      summary: Process tutor feedback and update progress
      operationId: processTutorFeedback
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/tutor/stats:
    get:
      tags: [Tutor]
      summary: Get tutoring statistics
      operationId: getTutorStats
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  # ── Admin ────────────────────────────────────────────────────────

  /api/admin/metrics:
    get:
      tags: [Admin]
      summary: Key business metrics (signups, active users, retention, activation)
      operationId: adminMetrics
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
        "403":
          description: Admin access denied or MFA not enabled

  /api/admin/users:
    get:
      tags: [Admin]
      summary: User list with last activity
      operationId: adminUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object

  /api/admin/feedback:
    get:
      tags: [Admin]
      summary: View user feedback entries
      operationId: adminFeedback
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/admin/crashes:
    get:
      tags: [Admin]
      summary: Server crash log entries (paginated)
      operationId: adminCrashes
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: per_page
          in: query
          schema:
            type: integer
        - name: user_id
          in: query
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/admin/client-errors:
    get:
      tags: [Admin]
      summary: Client-side error log entries (paginated)
      operationId: adminClientErrors
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: per_page
          in: query
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/admin/sessions:
    get:
      tags: [Admin]
      summary: Session log with user info (paginated)
      operationId: adminSessions
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: per_page
          in: query
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object

  /api/admin/security-events:
    get:
      tags: [Admin]
[...]
